.header {
  font-family: $header-font;
  color: $first-text-color;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  max-width: $max-width;
  background-color: rgba(255, 255, 255, 1);
  margin-left: auto;
  margin-right: auto;
}

.header__top {
  background-color: $yellow-color;
  font-weight: 600;
  line-height: 18px;
}

.header__top .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 32px;
}

@media (max-width: $xxl-breakpoint) {
  .header__top .container,
  .header__bottom  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: $xl-breakpoint) {
  .header__top .container {
    flex-direction: column;
    padding-top: 7px;
    padding-bottom: 7px;
  }
}

.header__bottom {
  box-shadow: 0px 4px 48px rgba(0, 0, 0, 0.16);
}

.header__bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding-top: 16px;
  padding-bottom: 22px;
}

.header__primary-bar {
  @include reset-list;
  margin-bottom: 13px;
}

.header__line {
  height: 1px;
  background: #BDBDBD;
  opacity: 0.35;
}

.header__catalog-bar {
  @include reset-list;
}
