$max-width: 1440px;
$container-max-width: 1234px;
$xxl-breakpoint: 1254px;
$m-breakpoint: 1096px;
$xl-breakpoint: 1024px;
$l-breakpoint: 960px;
$ll-breakpoint: 820px;

//Template colors
$background-color: white;
$first-text-color: #000000;
$second-text-color: #4d4d4d;
$form-ph-color: #9e9e9e;
$disclamer-color: #c4c4c4;
$red-color: #d2001c;
$yellow-color: #fed600;


//Template fonts
$header-font: "Open Sans", "Arial", sans-serif;
$text-font: "SF Pro Text", "Arial", sans-serif;
$display-font: "SF Pro Display", "Arial", sans-serif;

